trunk/niem/plugins/org.openhealthtools.mdht.uml.fhim2niem/schemas/domains/health.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
== Generated by hyperModel (www.XMLmodeling.com) Mon Oct 11 13:55:39 EDT 2010
== Model: gov.us.niem.core
== Package: health
-->
<xsd:schema xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niemhealth="health" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="health">
  <xsd:import namespace="http://niem.gov/niem/niem-core/2.0" schemaLocation="../niem-core/2.0/niem-core.xsd"/>
  <!-- ================================================== -->
  <!-- =====  Complex Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Act  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Act">
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType">
        <xsd:sequence>
          <xsd:element name="classCode" type="nc:TextType"/>
          <xsd:element name="moodCode" type="nc:TextType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  IntoleranceCondition  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="IntoleranceCondition">
    <xsd:complexContent>
      <xsd:extension base="niemhealth:Act">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="BookingAgencyRecordIdentification" type="nc:IdentificationType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
