models/gov.us.fhimsi.lab.niem.model/schemas/Extension.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
== Generated by hyperModel (www.XMLmodeling.com) Mon Apr 04 12:04:48 EDT 2011
== Model: niemfhimsilab
== Package: Extension
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <!-- ================================================== -->
  <!-- =====  Complex Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  LabTestPromiseForExchange  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="LabTestPromiseForExchange">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="procedureCode">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="value">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:enumeration value="5955009"/>
                  <xsd:enumeration value="81886002"/>
                  <xsd:enumeration value="301862003"/>
                  <xsd:enumeration value="80582002"/>
                  <xsd:enumeration value="52086008"/>
                  <xsd:enumeration value="87645001"/>
                  <xsd:enumeration value="421383005"/>
                  <xsd:enumeration value="412298006"/>
                  <xsd:enumeration value="8030004"/>
                  <xsd:enumeration value="9471005"/>
                  <xsd:enumeration value="13668001"/>
                  <xsd:enumeration value="126070004"/>
                  <xsd:enumeration value="17916009"/>
                  <xsd:enumeration value="412308004"/>
                  <xsd:enumeration value="7608003"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="valueSetId"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
