trunk/models/gov.us.fhimsi.lab.niem.model/schemas/extension.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
== Generated by hyperModel (www.XMLmodeling.com) Thu Apr 14 11:58:22 EDT 2011
== Model: niemfhimsilab
== Package: extension
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:s="http://niem.gov/niem/structures/2.0" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xsd:include schemaLocation="fhimsi/Lab.xsd"/>
  <xsd:include schemaLocation="codes.xsd"/>
  <xsd:include schemaLocation="niem-core.xsd"/>
  <xsd:include schemaLocation="structures.xsd"/>
  <!-- ================================================== -->
  <!-- =====  Complex Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  LabTestPromiseType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="LabTestPromiseType">
    <xsd:annotation>
      <xsd:documentation>cda=SimpleObservation&#13;
niem=Extension
niema=ActivityType</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="LabTestPromise">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="procedureCode" type="MedicationVehicle"/>
          <xsd:element name="status" type="nc:TextType">
            <xsd:annotation>
              <xsd:documentation>Identifies the status of the Lab Test Promise act.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="testCategory" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Categories the type of lab test ordered and performed.  Possible values include Chemistry/Hematology, Microbiology (to include bacteriology, parasitology, mycology, mycobateriology, and virology), Cytopathology, Anatomic Pathology, Autopsy, etc.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="fillerOrderId" type="nc:IdentificationType">
            <xsd:annotation>
              <xsd:documentation>This is identifies the order as seen from laboratory system.  &#13;
&#13;
the order number as seen from the laboratory.  This term can be seen as the "provider order number".  </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="performingOrganization" type="s:ComplexObjectType">
            <xsd:annotation>
              <xsd:documentation>An association from LabTestPromise to Institution identifying the organization/service responsible for performing the service.  </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="dateSpecimenReceived" type="nc:TimeMeasureType">
            <xsd:annotation>
              <xsd:documentation>Contains the date the the specimen  was received.&#13;
&#13;
</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="accessionDate" type="nc:TimeMeasureType">
            <xsd:annotation>
              <xsd:documentation>The timestamp for the time the lab accessioned the lab order.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="labTestRequest" type="s:ComplexObjectType">
            <xsd:annotation>
              <xsd:documentation>An association from labTestPromise to LabTestRequest identifying the test (or battery of tests) as it was ordered by the Ordering Practitioner. </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="labSubject" type="s:ComplexObjectType"/>
          <xsd:element minOccurs="0" name="verifier" type="s:ComplexObjectType"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="commentEvent" type="s:ComplexObjectType">
            <xsd:annotation>
              <xsd:documentation>An association linking a comment pertinent to the result of the lab test promise.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="dateExpected" type="nc:TimeMeasureType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
